.form {
  display: grid;
  gap: 3rem;
  padding-bottom: 5rem;
}

.fieldset {
  border-radius: 0.25rem;
  border: 1px solid #8a8a8a;
  transition: scale 0.5s;
}

.fieldset__wrapper {
  display: grid;
  gap: 3.5em;
  padding: 1em;
  transition: scale 0.2s;
  scale: 1 1;
  transform-origin: top;
}

.inputs-segment:first-child {
  padding-top: 1rem;
}

.hr {
  border: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}

.fieldset__wrapper:empty {
  height: 0;
  scale: 1 0;
}

.fieldset {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.legend {
  margin-left: 1.5rem;
  font-size: var(--fs-500);
}

.input.textarea {
  height: 6rem;
}

.toggle-btn {
  align-self: end;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding-inline: 1.25rem;
  background-color: var(--clr-blue-600);
  color: white;
}

.toggle-btn:focus,
.toggle-btn:hover {
  background-color: var(--clr-blue-800);
}

.inputs-segment {
  display: grid;
  gap: 1rem;
}

.add-section-btn {
  margin-block: 1em;
  color: #fff;
  background-color: var(--clr-green-700);
}

.add-section-btn:hover {
  background-color: var(--clr-green-900);
}

.segment__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.del-section-btn {
  font-size: 1rem;
  padding: 0;
  background-color: transparent;
  color: var(--clr-red-800);
}

.del-section-btn:hover {
  color: var(--clr-red-950);
}

.trash-icon {
  width: 2rem;
  height: auto;
}
