.main__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem 2rem;
  height: 100%;
  width: 95%;
  margin-inline: auto;
}

@media (max-width: 1200px) {
  .main__wrapper {
    grid-template-columns: 1fr;
  }
}
