.main__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  height: 100%;
  width: 100%;
}

@media (max-width: 900px) {
  .main__wrapper {
    grid-template-columns: 1fr;
  }
}
