.main__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  align-items: start;
  align-content: start;
}

@media (max-width: 900px) {
  .main__wrapper {
    grid-template-columns: 1fr;
  }
}
