.preview {
  margin-inline: auto;
  overflow: hidden;
  border-radius: 0.125rem;
  background-color: white;
}

.about {
  max-width: 50ch;
}

.preview__header {
  color: white;
  background-color: var(--clr-cyan-950);
}
