.starting-page__wrapper {
  display: grid;
  place-content: center;
  gap: 6em;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #fff, #f9fdff);
}

.starting-page__title {
  font-size: 4em;
  line-height: 1.1;
  font-family: var(--ff-serif);
  letter-spacing: 2px;
}
